@font-face {
	font-family: 'Open Sans';
	src:url(../fonts/OpenSans-Regular.ttf);
	src:url(../fonts/OpenSans-Regular.woff);
	src:url(../fonts/OpenSans-Regular.woff2);
	font-weight: normal;
}
@font-face {
	font-family: 'Open Sans';
	src:url(../fonts/OpenSans-Bold.ttf);
	src:url(../fonts/OpenSans-Bold.woff);
	src:url(../fonts/OpenSans-Bold.woff2);
	font-weight: bold;
}

/*General*/
* {
	box-sizing: inherit;
}
html {
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
h1, h2, h3, p {
	margin: 0;
}
a {
	text-decoration: none;
	color: #ffffff;
}
main {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/*Header*/
@media (max-width: 640px) {
	.header {
		position: relative;
		width: 100%;
		max-width: 640px;
		padding-top: 1px;
		padding-bottom: 79px;
		background: rgb(15, 15, 49);
		z-index: 1;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.header {
		position: relative;
		width: 100%;
		max-width: 960px;
		padding-top: 1px;
		padding-bottom: 11.7%;
		background: rgb(15, 15, 49);
		background-position: 0 0;
		background-size: 166%;
		z-index: 1;
	}
}
@media (min-width: 961px) {
	.header {
		position: relative;
		width: 100%;
		padding-top: 1px;
		padding-bottom: 5.7%;
		background: rgb(15, 15, 49);
		background-size: cover;
		z-index: 1;
	}
}
@media (max-width: 640px) {
	.header::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../images/img/football_767.jpg) no-repeat;
		background-size: 141%;
	    background-position: -66px -24px;
		opacity: 0.1;
		z-index: -1;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.header::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../images/img/football_1280.jpg) no-repeat;
		background-position: -253px -39px;
		background-size: 166%;
		opacity: 0.1;
		z-index: -1;
	}
}
@media (min-width: 961px) {
	.header::before {
		position: absolute;
		display: block;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../images/img/football_1920.jpg) no-repeat;
		background-position: 0 0;
		background-size: cover;
		opacity: 0.1;
		z-index: -1;
	}
}
.logo {
	fill: #ffffff;
}
@media (max-width: 640px) {
	.header-logo {
		margin: 10% auto;
		width: 135px;
		height: 40px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.header-logo {
		margin: 5% auto;
		width: 205px;
		height: 55px;
	}
}
@media (min-width: 961px) {
	.header-logo {
		margin: 2.3% auto;
		width: 194px;
		height: 53px;
	}
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
@media (max-width: 640px) {
	.header-title {
		padding-top: 28.5%;
		padding-left: 6%;
		padding-right: 6%;
		font-size: 28px;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.header-title {
		padding-top: 16%;
		padding-left: 11%;
		padding-right: 10%;
		font-size: 64px;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
	}
}
@media (min-width: 961px) {
	.header-title {
		max-width: 1920px;
		margin: 0 auto;
		padding-top: 11.4%;
		padding-left: 9.5%;
		padding-right: 10%;
		font-size: 93px;
		font-weight: 700;
		color: #ffffff;
		text-transform: uppercase;
	}
}
@media (max-width: 640px) {
	.line-1 {
		display: block;
		padding-bottom: 11px;
		letter-spacing: 1.3px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.line-1 {
		display: block;
		margin-bottom: -3px;
		letter-spacing: 3.2px;
		text-align: left;
	}
}
@media (min-width: 961px) {
	.line-1 {
		display: block;
		margin-bottom: -35px;
		letter-spacing: 3px;
	}
}

@media (max-width: 640px) {
	.line-2 {
		display: block;
		width: 84%;
		margin-left: auto;
		letter-spacing: 1.3px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.line-2 {
		display: block;
		width: 82%;
		margin-left: auto;
		letter-spacing: 3px;
		line-height: 78px;
	}
}
@media (min-width: 961px) {
	.line-2 {
		display: block;
		text-align: right;
		letter-spacing: 2.7px;
	}
}
@media (max-width: 640px) {
	.header .store-buttons {
		margin: 25% auto 0;
		width: 100%;
		max-width: 280px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.header .store-buttons {
		display: flex;
		margin: 38.5% 5.5% 0;
		max-width: 685px;
	}
}
@media (min-width: 961px) {
	.header .store-buttons {
		display: flex;
		width: 100%;
		max-width: 736px;
		margin: 10% auto 0;
	}
}

@media (max-width: 640px) {
	.button-apple-store {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 34px;
		max-width: 280px;
		margin: 0 auto;
		padding: 5px 0 0 0;
		font-size: 8px;
		background-color: #5e42b0;
		border-radius: 20px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.button-apple-store {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 79px;
		max-width: 310px;
	 	margin:0 auto;
		background-color: #5e42b0;
		border-radius: 42px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
@media (min-width: 961px) {
	.button-apple-store {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 79px;
		max-width: 310px;
		margin: 0 27px;
		background-color: #5e42b0;
		border-radius: 42px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
@media (max-width: 640px) {
	.button-google-play {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 34px;
		max-width: 280px;
		margin: 15px auto 5px;
		font-size: 8px;
		background-color: #5e42b0;
		border-radius: 20px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.button-google-play {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 79px;
		max-width: 310px;
	 	margin: 0 auto;
		background-color: #5e42b0;
		border-radius: 42px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
@media (min-width: 961px) {
	.button-google-play {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 79px;
		max-width: 310px;
		margin: 0 27px;
		background-color: #5e42b0;
		border-radius: 42px;
		border: none;
		outline: none;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 50;
		cursor: pointer;
	}
}
.button-apple-store:hover,
.button-google-play:hover {
	background-color: #866dd0;
}
.apple-store-logo svg {
	fill: #ffffff;
}
.google-play-logo svg {
	fill: #ffffff;
}
@media (max-width: 640px) {
	.apple-store-logo {
		align-self: center;
		width: 25px;
		height: 29px;
		margin: -9px 0 0 -6px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.apple-store-logo {
		align-self: center;
		width: 45px;
		height: 47px;
		margin: -2px 0 0 -29px;
	}
}
@media (min-width: 961px) {
	.apple-store-logo {
		align-self: center;
  		margin: -5px 0 0 5px;
		width: 49px;
		height: 49px;
	}
}
@media (max-width: 640px) {
	span.button-apple-text {
			align-self: center;
			margin: -6px 0 0 8px;
			letter-spacing: 0.4px;
		}
}
@media (min-width: 641px) and (max-width: 960px) {
	span.button-apple-text {
		margin: 0 0 0 23px;
		letter-spacing: -0.9px;
		line-height: 15px;
	}
}
@media (min-width: 961px) {
	span.button-apple-text {
  		margin: 4px 28px 0 21px;
		letter-spacing: -0.7px;
		line-height: 17px;
	}
}
@media (max-width: 640px) {
	span.button-apple-text b {
		letter-spacing: 0.5px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	span.button-apple-text b {
		letter-spacing: 0.1px;
		font-size: 15px;
	}
}
@media (min-width: 961px) {
	span.button-apple-text b {
  		letter-spacing: 0.1px;
		font-size: 15px
	}
}

@media (max-width: 640px) {
	.google-play-logo {
		align-self: center;
		width: 25px;
		height: 25px;
  		margin: 0 0 0 -27px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.google-play-logo {
		align-self: center;
		width: 45px;
		height: 45px;
		margin: -1px 25px 0 0;
	}
}
@media (min-width: 961px) {
	.google-play-logo {
		align-self: center;
		width: 49px;
		height: 49px;
		margin: 1px 23px 0 -31px;
	}
}
@media (max-width: 640px) {
	.button-google-text {
		align-self: center;
		margin: 0 0 0 5px;
		font-family: 'Open sans', sans-serif;
		letter-spacing: 0.3px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.button-google-text {
		align-self: center;
		margin: -2px 28px 0 0;
		letter-spacing: -0.5px;
  		line-height: 15px;
	}
}
@media (min-width: 961px) {
	.button-google-text {
		align-self: center;
		letter-spacing: -0.5px;
  		line-height: 18px;
	}
}
@media (max-width: 640px) {
	.button-google-text b {
		letter-spacing: 0.5px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.button-google-text b {
		letter-spacing: 0.1px;
		font-size: 15px;
	}
}
@media (min-width: 961px) {
	.button-google-text b {
		letter-spacing: 0.1px;
		font-size: 15px
	}
}
@media (max-width: 640px) {
	.feat-title {
		font-size: 23px;
		color: #c1c1c1;
		text-transform: uppercase;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.feat-title {
		font-size: 32px;
		color: #c1c1c1;
		text-transform: uppercase;
	}
}
@media (min-width: 961px) {
	.feat-title {
		font-size: 34px;
		color: #c1c1c1;
		text-transform: uppercase;
	}
}
@media (max-width: 640px) {
	span.feature-counter {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
		letter-spacing: 0.7px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	span.feature-counter {
		position: relative;
		font-size: 18px;
		font-weight: 900;
		color: #000000;
	}
}
@media (min-width: 961px) {
	span.feature-counter {
		position: relative;
		width: 22px;
		font-size: 19px;
		font-weight: bold;
		color: #000000;
	}
}
@media (max-width: 640px) {
	span.feature-counter::before {
		position: absolute;
		top: 19px;
		content: '';
		width: 17px;
		height: 4px;
		background-color: #5e42b0;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	span.feature-counter::before {
		position: absolute;
		top: 26px;
		content: '';
		width: 20px;
		height: 5px;
		background-color: #5e42b0;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (min-width: 961px) {
	span.feature-counter::before {
		position: absolute;
		top: 27px;
		content: "";
		width: 20px;
		height: 5px;
		background-color: #5e42b0;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (max-width: 640px) {
	.feat-description {
		padding-left: 20px;
		padding-right: 20px;
		font-weight: 600;
		font-size: 15px;
		line-height: 19px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.feat-description {
		padding-left: 20px;
		padding-right: 20px;
		font-weight: bold;
		font-size: 15px;
		line-height: 19px;
	}
}
@media (min-width: 961px) {
	.feat-description {
		font-weight: bold;
		font-size: 21px;
		line-height: 19px;
	}
}

/*Athlets*/
@media (max-width: 640px) {
	section.athlets {
		width: 100%;
		max-width: 640px;
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 961px) {
	section.athlets {
		position: relative;
	}
}
@media (max-width: 640px) {
	.athlets-title {
		padding: 8px 21px 0;
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-title {
		padding-top: 7.5%;
		padding-left: 38%;
		padding-bottom: 0;
		font-size: 80px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 961px) {
	.athlets-title {
		padding-top: 90px;
		padding-left: 52.5%;
		font-size: 80px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (max-width: 640px) {
	.athlets-pic {
		position: relative;
		top: 4px;
		left: 6px;
		width: 100%;
		max-width: 640px;
		height: 281px;
		margin: 0 auto -51px;
		background: url(../images/img/footballer_192.png)  center center no-repeat;
		background-size: contain;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-pic {
		position: absolute;
		top: -72px;
		left: -162px;
		width: 100%;
		max-width: 497px;
		height: 600px;
		background: url(../images/img/footballer_497.png) no-repeat;
		background-size: 100%;
	}
}
@media (min-width: 961px) {
	.athlets-pic {
		position: absolute;
		top: 29px;
		width: 50%;
		height: 103%;
		background: url(../images/img/footballer_566.png) no-repeat;
		background-position: 99% 0;
	}
}
@media (min-width: 1921px) {
	.athlets-pic {
		position: absolute;
		top: -165px;
		width: 50%;
		height: 147%;
		background: url(../images/img/footballer_566.png) no-repeat;
		background-position: 98% 0;
	}
}
@media (max-width: 640px) {
	.athlets-features {
		position: relative;
		overflow: hidden;
	}
}
@media (min-width: 641px) and (max-width: 960px), (min-width: 1921px) {
	.athlets-features {
		position: relative;
	}
}

/*Athlets feature-1*/
.feature-1 {
	background: #ffffff;
}
@media (max-width: 640px) {
	.feature-1 {
		background: #fafafa;
	}
}
@media (min-width: 961px) {
	.feature-1 {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-1 {
		padding-top: 55px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-1 {
		display: flex;
		flex-direction: column;
		margin-right: auto;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-1 span.feature-counter {
		top: 21px;
		left: 20px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-1 span.feature-counter {
		top: 32px;
		left: 38%;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-1 span.feature-counter {
		top: 79px;
		left: 52.5%;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-1 .feat-title {
		padding-left: 44px;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-1 .feat-title {
		padding-top: 5px;
		padding-left: 42%;
	    letter-spacing: 1.5px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-1 .feat-title {
		padding-top: 48px;
		padding-left: 54%;
		letter-spacing: 3.4px;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-1 .feat-description {
		padding-top: 16px;
		padding-bottom: 50px;
		line-height: 19px;
		letter-spacing: 0.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-1 .feat-description {
		padding-top: 16px;
		padding-right: 4%;
		padding-bottom: 33px;
		padding-left: 37.7%;
		line-height: 28px;
		letter-spacing: 0.75px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-1 .feat-description {
		padding-top: 20px;
		padding-left: 52.4%;
		padding-right: 10%;
		padding-bottom: 53px;
	    letter-spacing: -0.23px;
	}
}

/*Athlets feature-2*/
.feature-2 {
	background: #f5f4f9;
}
@media (min-width: 961px) {
	.feature-2 {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-2 span.feature-counter {
		top: 53px;
		left: 20px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-2 span.feature-counter {
		top: 34px;
		left: 38%;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-2 span.feature-counter {
		top: 59px;
		left: 52.5%;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-2 .feat-title {
		padding-top: 31px;
		padding-left: 44px;
		letter-spacing: 1.1px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-2 .feat-title {
		padding-top: 6px;
		padding-left: 42%;
		letter-spacing: 1.5px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-2 .feat-title {
		padding-top: 28px;
		padding-left: 54%;
		letter-spacing: 3.2px;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-2 .feat-description {
		padding-top: 17px;
		padding-bottom: 51px;
		line-height: 18px;
		letter-spacing: 0.15px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-2 .feat-description {
		padding-top: 14px;
		padding-right: 4%;
		padding-bottom: 34px;
		padding-left: 38%;
		line-height: 28px;
		letter-spacing: 0.67px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-2 .feat-description {
		padding-top: 16px;
		padding-right: 10%;
		padding-bottom: 55px;
		padding-left: 52.3%;
		line-height: 28px;
	    letter-spacing: -0.18px;
	}
}

/*Athlets feature-3*/
.athlets-features .feature-3 {
	background: #5e42b0;
	color: #ffffff;
}
@media (max-width: 640px) {
	.athlets-features .feature-3 {
		background: #5e42b0;
		color: #ffffff;
	}
}
@media (max-width: 640px) {
.athlets-features .feature-3 span.feature-counter {
		top: 54px;
		left: 20px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-3 span.feature-counter {
		top: 35px;
		left: 38%;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-3 span.feature-counter {
		top: 55px;
		left: 52.5%;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-3 span.feature-counter::before {
		position: absolute;
		top: 19px;
		content: '';
		width: 17px;
		height: 4px;
		background-color: #ffffff;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-3 span.feature-counter::before {
		position: absolute;
		top: 26px;
		content: '';
		width: 21px;
		height: 5px;
		background-color: #ffffff;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-3 span.feature-counter::before {
		position: absolute;
		content: '';
		width: 21px;
		height: 5px;
		background-color: #ffffff;
		bottom: 4px;
		border-radius: 2px;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-3 .feat-title {
		padding-top: 31px;
		padding-left: 45px;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-3 .feat-title {
		padding-top: 8px;
		padding-left: 42%;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-3 .feat-title {
		padding-top: 25px;
		padding-left: 54%;
		letter-spacing: 3.6px;
	}
}
@media (max-width: 640px) {
	.athlets-features .feature-3 .feat-description {
		padding-top: 18px;
		padding-bottom: 54px;
		line-height: 18px;
	    letter-spacing: 0.18px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.athlets-features .feature-3 .feat-description {
		padding-top: 16px;
		padding-right: 4%;
		padding-bottom: 34px;
		padding-left: 37.9%;
		line-height: 27px;
		letter-spacing: 0.75px;
	}
}
@media (min-width: 961px) {
	.athlets-features .feature-3 .feat-description {
		padding-top: 16px;
		padding-right: 10%;
		padding-bottom: 54px;
		padding-left: 52.3%;
		line-height: 27px;
	    letter-spacing: -0.17px;
	}
}

/*Players*/
@media (max-width: 640px) {
	section.players {
		width: 100%;
		max-width: 640px;
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 640px) {
	.players-title {
		padding: 4px 16px 0;
		font-size: 50px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-title {
		padding-top: 58px;
		padding-left: 3.5%;
		font-size: 80px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 961px) {
	.players-title {
		padding-top: 90px;
		padding-right: 50%;
		padding-left: 9.6%;
		font-size: 80px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 1921px) {
	.players-title {
		padding-top: 90px;
		padding-left: 17.5%;
		padding-right: 50%;
		font-size: 80px;
		color: #e7e7e7;
		text-transform: uppercase;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features {
		position: relative;
		display: flex;
		flex-flow: row-reverse;
	}
}
@media (min-width: 961px) {
	.players-features {
		position: relative;
	}
}
@media (max-width: 640px) {
	.players-pic {
		position: relative;
		top: 7px;
		left: 0;
		width: 100%;
		height: 248px;
		margin: 0 auto -19px;
		background: url(../images/img/basketballer_302.png) center center no-repeat;
		background-size: contain;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-pic {
		position: absolute;
		top: -127px;
		width: 100%;
		max-width: 436px;
		height: 100%;
		background: url(../images/img/basketballer_436.png) no-repeat;
		background-size: 100%;
	}
}
@media (min-width: 961px) {
	.players-pic {
		position: absolute;
		top: -175px;
		width: 58.1%;
		right: 0;
		height: 850px;
		background: url(../images/img/basketballer_991.png) no-repeat;
	}
}
@media (min-width: 1921px) {
	.players-pic {
		position: absolute;
		top: -174px;
		width: 50%;
		right: 0;
		height: 850px;
		background: url(../images/img/basketballer_991.png) no-repeat;
	}
}

/*Players feature-1*/
@media (max-width: 640px) {
	.players-features .feature-1 {
		padding-top: 56px;	}
}
@media (max-width: 640px) {
	.players-features .feature-1 span.feature-counter {
		top: 22px;
		left: 20px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-1 span.feature-counter {
		top: 31px;
		left: 4.2%;
	}
}
@media (min-width: 961px) {
	.players-features .feature-1 span.feature-counter {
		top: 82px;
		left: 10%;
	}
}
@media (max-width: 640px) {
	.players-features .feature-1 .feat-title {
		padding-bottom: 17px;
		padding-left: 45px;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-1 .feat-title {
		padding-top: 4px;
		padding-left: 8%;
		letter-spacing: 1.8px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-1 .feat-title {
		padding-top: 53px;
		padding-right: 50%;
		padding-left: 11.5%;
		letter-spacing: 2.9px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-1 .feat-title {
		padding-top: 80px;
		padding-left: 18%;
		padding-right: 50%;
		letter-spacing: 2.5px;
	}
}
@media (max-width: 640px) {
	.players-features .feature-1 .feat-description {
		padding-bottom: 51px;
		padding-left: 20px;
		line-height: 18px;
		letter-spacing: 0.17px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-1 .feat-description {
		padding-top: 17px;
		padding-right: 42%;
		padding-bottom: 8px;
		padding-left: 4%;
		line-height: 27px;
		letter-spacing: 0.9px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-1 .feat-description {
		padding-top: 16px;
		padding-right: 50%;
		padding-bottom: 32px;
		padding-left: 10%;
		line-height: 26px;
		letter-spacing: -0.75px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-1 .feat-description {
		padding-top: 16px;
		padding-right: 50%;
		padding-bottom: 32px;
		padding-left: 18%;
		line-height: 26px;
		letter-spacing: -0.1px;
	}
}

/*Players feature-2*/
@media (max-width: 640px) {
	.players-features .feature-2 span.feature-counter {
		top: 53px;
		left: 20px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-2 span.feature-counter {
		top: 36px;
		left: 4.5%;
	}
}
@media (min-width: 961px) {
	.players-features .feature-2 span.feature-counter {
		top: 52px;
		left: 10%;
	}
}
@media (max-width: 640px) {
	.players-features .feature-2 .feat-title {
		padding-top: 30px;
		padding-bottom: 18px;
		padding-left: 46px;
		letter-spacing: 1.1px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-2 .feat-title {
		padding-top: 9px;
		padding-left: 8%;
		letter-spacing: 1.8px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-2 .feat-title {
		padding-top: 22px;
		padding-right: 50%;
		padding-left: 11.7%;
		letter-spacing: 3.1px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-2 .feat-title {
		padding-top: 48px;
		padding-left: 18%;
		padding-right: 50%;
	}
}
@media (max-width: 640px) {
	.players-features .feature-2 .feat-description {
		padding-bottom: 52px;
		letter-spacing: 0.1px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-2 .feat-description {
		padding-top: 16px;
		padding-right: 44%;
		padding-bottom: 33px;
		padding-left: 4.5%;
		line-height: 28px;
		letter-spacing: 0.68px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-2 .feat-description {
		padding-top: 25px;
		padding-right: 50%;
		padding-bottom: 84px;
		padding-left: 10%;
		line-height: 26px;
		letter-spacing: -0.25px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-2 .feat-description {
		padding-top: 25px;
		padding-right: 50%;
		padding-bottom: 84px;
		padding-left: 18%;
		line-height: 26px;
		letter-spacing: -0.75px;
	}
}

/*Players feature-3*/
@media (max-width: 640px) {
	.players-features .feature-3 {
		background: #090c35;
		color: #ffffff;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-3 {
		background: #090c35;
		color: #ffffff;
	}
}
@media (min-width: 961px) {
	.players-features .feature-3 {
		background: #090c35;
		color: #ffffff;
	}
}
@media (max-width: 640px) {
	.players-features .feature-3 span.feature-counter {
		top: 50px;
		left: 19px;
		color: #8765dd;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-3 span.feature-counter {
		top: 36px;
		left: 4.5%;
		color: #8765dd;
	}
}
@media (min-width: 961px) {
	.players-features .feature-3 span.feature-counter {
		top: 55px;
		left: 10%;
		color: #8765dd;
	}
}
@media (max-width: 640px) {
	.players-features .feature-3 span.feature-counter::before {
		top: 19px;
		left: 0;
		background-color: #ffffff;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-3 span.feature-counter::before {
		top: 26px;
		left: -1px;
		width: 21px;
		background-color: #ffffff;
	}
}
@media (min-width: 961px) {
	.players-features .feature-3 span.feature-counter::before {
		top: 27px;
		left: 0;
		width: 22px;
		height: 6px;
		background-color: #ffffff;
	}
}
@media (max-width: 640px) {
	.players-features .feature-3 .feat-title {
		padding-top: 27px;
		padding-left: 45px;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-3 .feat-title {
		padding-top: 10px;
		padding-left: 8.2%;
		letter-spacing: 1.5px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-3 .feat-title {
		padding-top: 25px;
		padding-right: 50%;
		padding-left: 11.5%;
		letter-spacing: 3.3px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-3 .feat-title {
		padding-top: 50px;
		padding-left: 18%;
		padding-right: 50%;
		letter-spacing: 2.5px;
	}
}
@media (max-width: 640px) {
	.players-features .feature-3 .feat-description {
		padding-top: 17px;
		padding-bottom: 53px;
	    letter-spacing: 0.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.players-features .feature-3 .feat-description {
		padding-top: 16px;
		padding-right: 35%;
		padding-bottom: 32px;
		padding-left: 4.5%;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 1.18px;
	}
}
@media (min-width: 961px) {
	.players-features .feature-3 .feat-description {
		padding-top: 22px;
		padding-right: 50%;
		padding-bottom: 59px;
		padding-left: 10%;
		font-size: 20px;
		font-weight: normal;
		letter-spacing: 0.65px;
	}
}
@media (min-width: 1921px) {
	.players-features .feature-3 .feat-description {
		padding-top: 18px;
		padding-right: 50%;
		padding-bottom: 54px;
		padding-left: 18%;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 0.2px;
	}
}

/*Advantages*/
/*General*/
@media (min-width: 961px) {
	.advantages {
		font-size: 0;
		max-width: 1920px;
		margin: 0 auto;
	}
}
@media (min-width: 961px) {
	.advantage-text-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}
@media (max-width: 640px) {
	.advantage-title {
		font-size: 28px;
		text-transform: uppercase;
		color: #e7e7e7;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-title {
		font-size: 80px;
		text-transform: uppercase;
		color: #e7e7e7;
	}
}
@media (min-width: 961px) {
	.advantage-title {
		font-size: 4vw;
		text-transform: uppercase;
		color: #e7e7e7;
	}
}
@media (min-width: 1921px) {
	.advantage-title {
		font-size: 80px;
		text-transform: uppercase;
		color: #e7e7e7;
	}
}
@media (max-width: 640px) {
	.advantage-description {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		color: #000000;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-description {
		font-size: 24px;
		font-weight: normal;
		line-height: 28px;
		color: #000000;
	}
}
@media (min-width: 961px) {
	.advantage-description {
		font-size: 1.25vw;
		font-weight: 600;
		color: #000000;
	}
}
@media (min-width: 1921px) {
	.advantage-description {
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		color: #000000;
	}
}
@media (max-width: 640px) {
	.advantages-counter-container {
		position: absolute;
		bottom: -7px;
		left: 20px;
		width: 70px;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #5d41b0;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantages-counter-container {
		position: absolute;
		bottom: -31px;
		left: 32px;
		width: 116px;
		height: 115px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #5d41b0;
	}
}
@media (min-width: 961px) {
	.advantages-counter-container {
		position: absolute;
		top: 29%;
		right: -8.8%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17.5%;
		height: 21%;
		background-color: #5d41b0;
		z-index: 100;
	}
}
@media (max-width: 640px) {
	.advantage-counter {
		position: relative;
		font-weight: 900;
		color: #ffffff;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-counter {
		position: relative;
		font-size: 24px;
		font-weight: 900;
		color: #ffffff;
	}
}
@media (min-width: 961px) {
	.advantage-counter {
		position: relative;
		font-size: 24px;
		font-weight: 900;
		color: #ffffff;
	}
}
@media (max-width: 640px) {
	.advantage-counter::before {
		position: absolute;
		top: 21px;
		content: '';
		width: 17px;
		height: 4px;
		background-color: #ffffff;
		opacity: 0.4;
		border-radius: 2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-counter::before {
		position: absolute;
		top: 36px;
		left: 3px;
		content: '';
		width: 23px;
		height: 5px;
		background-color: #ffffff;
		opacity: 0.4;
		border-radius: 2px;
		z-index: 200;
	}
}
@media (min-width: 961px) {
	.advantage-counter::before {
		position: absolute;
		top: 35px;
		left: 3px;
		content: '';
		width: 22px;
		height: 5px;
		background-color: #ffffff;
		opacity: 0.4;
		border-radius: 2px;
	}
}

/*Advantage-1*/
@media (max-width: 640px) {
	.advantage-1 {
		width: 100%;
		min-width: 320px;
	}
}
@media (min-width: 961px) {
	.advantage-1 {
		display: flex;
		width: 100%;
	}
}
@media (max-width: 640px) {
	.advantage-pic {
		position: relative;
		max-width: 640px;
		height: 100%;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-pic {
		position: relative;
		max-width: 960px;
		height: 100%;
	}
}
@media (min-width: 961px) {
	.advantage-pic {
		position: relative;
		display: flex;
		width: 50%;
		height: 100%;
	}
}
@media (min-width: 961px) {
	.pic-1 {
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 640px) {
	.advantage-1 .advantages-counter-container .advantage-counter {
		top: -3px;
		left: 0;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-1 .advantages-counter-container .advantage-counter {
		top: -8px;
		left: 1px;
	}
}
@media (min-width: 961px) {
	.advantage-1 .advantages-counter-container .advantage-counter {
		top: -7px;
		left: -2px;
	}
}
@media (max-width: 640px) {
	.advantage-1 .advantage-title {
		padding-top: 20px;
		padding-left: 18px;
		letter-spacing: 2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-1 .advantage-title {
		padding-top: 58px;
		padding-left: 25px;
	}
}
@media (min-width: 961px) {
	.advantage-1 .advantage-title {
		margin-top: 24.5%;
		padding-left: 12.5%;
	    letter-spacing: 2px;
	}
}
@media (max-width: 640px) {
	.advantage-1 .advantage-description {
		padding-top: 12px;
		padding-right: 37px;
		padding-bottom: 77px;
		padding-left: 19px;
		letter-spacing: 0.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-1 .advantage-description {
		padding-top: 10px;
		padding-right: 7%;
		padding-bottom: 99px;
		padding-left: 4%;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 961px) {
	.advantage-1 .advantage-description {
		margin-top: 9.5%;
		padding-left: 13%;
		padding-right: 20%;
		line-height: 28px;
		letter-spacing: 0.3px;
	}
}

/*Advantage-2*/
@media (min-width: 961px) {
	.advantage-2 {
		display: flex;
		width: 100%;
		flex-flow: row-reverse;
	}
}
@media (min-width: 961px) {
	.advantage-2 .advantages-counter-container {
		position: absolute;
		top: 29%;
		left: -9%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17.5%;
		height: 21%;
		background-color: #5d41b0;
		z-index: 100;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-2 .advantages-counter-container {
		bottom: -21px;
		left: 32px;
	}
}
@media (max-width: 640px) {
	.advantage-2 .advantages-counter-container .advantage-counter {
		top: -3px;
		left: 0;
	}
}

@media (min-width: 641px) and (max-width: 960px) {
	.advantage-2 .advantages-counter-container .advantage-counter {
		top: -8px;
		left: 1px;
	}
}
@media (min-width: 961px) {
	.advantage-2 .advantages-counter-container .advantage-counter {
		top: -8px;
		left: 1px;
	}
}
@media (max-width: 640px) {
	.advantage-2 .advantage-title {
		padding-top: 22px;
		padding-left: 18px;
		letter-spacing: 1.3px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-2 .advantage-title {
		padding-top: 47px;
		padding-left: 25px;
	}
}
@media (min-width: 961px) {
	.advantage-2 .advantage-title {
		margin-top: 24.5%;
		padding-right: 19%;
		text-align: right;
		letter-spacing: 1.7px;
	}
}
@media (max-width: 640px) {
	.advantage-2 .advantage-description {
		padding-top: 13px;
		padding-right: 6px;
		padding-bottom: 78px;
		padding-left: 19px;
		letter-spacing: 0.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-2 .advantage-description {
		padding-top: 12px;
		padding-right: 9%;
		padding-bottom: 105px;
		padding-left: 4.2%;
		letter-spacing: 1.25px;
	}
}
@media (min-width: 961px) {
	.advantage-2 .advantage-description {
		margin-top: 5%;
		padding-left: 20%;
		padding-right: 7%;
		line-height: 29px;
		letter-spacing: 0.28px;
	}
}

/*Advantage-3*/
@media (max-width: 640px) {
	.advantage-3 {
		width: 100%;
		min-width: 320px;
	}
}
@media (min-width: 961px) {
	.advantage-3 {
		display: flex;
		width: 100%;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-3 .advantages-counter-container {
		bottom: -21px;
	}
}
@media (min-width: 961px) {
	.advantage-3 .advantages-counter-container {
		position: absolute;
		top: 29%;
		right: -8.8%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17.5%;
		height: 21%;
		background-color: #5d41b0;
		z-index: 100;
	}
}
@media (max-width: 640px) {
	.advantage-3 .advantages-counter-container .advantage-counter {
		top: -3px;
		left: 0;
	}
}

@media (min-width: 641px) and (max-width: 960px) {
	.advantage-3 .advantages-counter-container .advantage-counter {
		top: -8px;
		left: 1px;
	}
}

@media (min-width: 961px) {
	.advantage-3 .advantages-counter-container .advantage-counter {
		top: -7px;
		left: -2px;
	}
}
@media (max-width: 640px) {
	.advantage-3 .advantage-title {
		padding-top: 22px;
		padding-left: 20px;
		letter-spacing: 1.3px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-3 .advantage-title {
		padding-top: 48px;
		padding-left: 32px;
	}
}
@media (min-width: 961px) {
	.advantage-3 .advantage-title {
	    margin-top: 24.5%;
		padding-left: 13%;
		letter-spacing: 2.2px;
	}
}
@media (max-width: 640px) {
	.advantage-3 .advantage-description {
		padding-top: 13px;
		padding-bottom: 67px;
		padding-left: 19px;
		letter-spacing: 0.2px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.advantage-3 .advantage-description {
		padding-top: 11px;
		padding-right: 9%;
		padding-bottom: 113px;
		padding-left: 4.3%;
		letter-spacing: 1.2px;
	}
}
@media (min-width: 961px) {
	.advantage-3 .advantage-description {
		margin-top: 8.7%;
		padding-right: 18%;
		padding-left: 13%;
		line-height: 29px;
		letter-spacing: 0.25px;
	}
}

/*Footer*/
@media (max-width: 640px) {
	.footer {
		position: relative;
		width: 100%;
		padding-bottom: 2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgb(15, 15, 49);
		z-index: 1;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.footer {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 4%;
		background: rgb(15, 15, 49);
		z-index: 1;
	}
}
@media (min-width: 961px) {
	.footer {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 2.7%;
		background: rgb(15, 15, 49);
		z-index: 1;
	}
}
@media (max-width: 640px) {
	.footer::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		background: url(../images/img/game_767.jpg) no-repeat;
		background-size: 140%;
		background-position: -128px 3px;
		opacity: 0.1;
		z-index: -1;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.footer::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		background: url(../images/img/game_1280.jpg) no-repeat;
		background-size: 167%;
		background-position: -256px -11px;
		opacity: 0.1;
		z-index: -1;
		
	}
}
@media (min-width: 961px) {
	.footer::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		background: url(../images/img/game_1920.jpg) no-repeat;
		background-size: cover;
		opacity: 0.1;
		z-index: -1;
		
	}
}
@media (max-width: 640px) {
	.download-app-wrapper {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 961px) {
	.download-app-wrapper {
		position: relative;
		display: flex;
		padding-top: 11.6%;
		height: auto;
	}
}
@media (max-width: 640px) {
	.download-app svg {
		fill: #ffffff;
	    width: 78%;
	    margin: 17% 10%;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app svg {
		fill: #ffffff;
	    width: 74%;
	    margin: 18% 12%;
	}
}
@media (min-width: 961px) {
	.download-app svg {
		fill: #ffffff;
	    width: 78%;
	    margin: 17% 10%;
	}
}
@media (max-width: 640px) {
	.download-app {
		width: 70px;
		height: 74px;
		margin: 34% auto 17.5%;
		border: none;
		outline: none;
		border-radius: 15px;
		background-color: #5e42b0;
	}
}
@media (max-width: 640px) {
	.download-app:hover {
		background-color: #866dd0;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app {
		width: 130px;
		height: 136px;
		margin: 17.5% auto 4.8%;
		border: none;
		outline: none;
		border-radius: 32px;
		background-color: #5e42b0;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app:hover {
		background-color: #866dd0;
	}
}
@media (min-width: 961px) {
	.download-app {
		position: relative;
		top: 6px;
		right: -5px;
		width: 130px;
		height: 136px;
		margin: 0 auto;
		border: none;
		outline: none;
		border-radius: 30px;
		background-color: #5e42b0;
	}
}
@media (min-width: 961px) {
	.download-app:hover {
		background-color: #866dd0;
	}
}
@media (max-width: 640px) {
	.download-app-title {
		font-size: 32px;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1.7px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app-title {
		font-size: 10.5vw;
		padding-top: 3%;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4.4px;
		margin-bottom: -1%;
	}
}
@media (min-width: 961px) {
	.download-app-title {
		font-size: 79px;
		color: #ffffff;
		font-weight: 700;
		padding-left: 34px;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
}
@media (max-width: 640px) {
	.download-app-subtitle {
		font-size: 14px;
		color: #9b8ec1;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.download-app-subtitle {
		font-size: 4.3vw;
		color: #9b8ec1;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.8px;
	}
}
@media (min-width: 961px) {
	.download-app-subtitle {
		padding-left: 36px;
		font-size: 30px;
		color: #9b8ec1;
		text-transform: uppercase;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
}
@media (max-width: 640px) {
	.footer .store-buttons {
		margin: 22.7% auto 0;
		width: 100%;
		max-width: 280px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.footer .store-buttons {
		position: relative;
		display: flex;
  		margin: 36.5% 2.7% 0;
		width: 100%;
		max-width: 685px;
	}
}
@media (min-width: 961px) {
	.footer .store-buttons {
		position: relative;
		display: flex;
		margin: 8.1% auto 13.6%;
		width: 100%;
		max-width: 735px;
	}
}
@media (max-width: 640px) {
	.footer-logo {
		margin: 24% auto 0;
		width: 135px;
		height: 40px;
	}
}
@media (min-width: 641px) and (max-width: 960px) {
	.footer-logo {
		margin: 7% auto 0;
		width: 205px;
		height: 53px;
	}
}
@media (min-width: 961px) {
	.footer-logo {
		margin: 0 auto;
		width: 190px;
		height: 53px;
	}
}