doctype
html
	head
		title Дипломная работа по адаптивной и мобильной вёрстке
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/styles.css")
	body
		header.header
			.header-logo
			h1.visually-hidden
				| Surface
			.header-title
				span.line-1 be recruited 
				span.line-2 play college sports
			.store-buttons
				a.button-apple-store(href='#')
					.apple-store-logo
					span.button-apple-text
						| download on the
						br
						b app store
				a.button-google-play(href="#")
					.google-play-logo
					span.button-google-text
						| get it on
						br
						b google play
		main.main
			section.athlets
				h2.athlets-title
					| Athlets			
				.athlets-features
					.athlets-pic
					.features-wrapper
						.feature-1
							h3.feat-title
								span 01
								| connection
							p.feat-description
								| Connect with coaches directly, you can ping coaches to view profile.
						.feature-2
							h3.feat-title
								span 02
								| collaboration
							p.feat-description
								| Work with other student athletes to increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
						.feature-3
							h3.feat-title
								span 03
								| growth
							p.feat-description
								| Resources and tools for you to get better as a student Athlete. Access to training classes, tutor sessions, etc 
			section.players
				h2.players-title
					| Players
				.players-features
					.players-pic
					.features-wrapper
						.feature-1
							h3.feat-title
								span 01
								| connection
							p.feat-description
								| Work with other student athletes to increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
						.feature-2
							h3.feat-title
								span 02
								| collaboration
							p.feat-description
								| Work with recruiter to increase your chances of findingtalented athlete.
						.feature-3
							h3.feat-title
								span 03
								| growth
							p.feat-description
								| Save your time, recruit proper athlets for your team.
			section.advantages
				.advantage-1
					.advantage-pic
						picture.pic-1
							source(media='(max-width: 640px)', srcset='images/img/be-active_640.jpg')
							source(media='(min-width: 641px) and (max-width: 960px)', srcset='images/img/be-active_960.jpg')
							source(media='(min-width: 961px) and (max-width: 1920px), (min-width: 1920px)', srcset='images/img/be-active_960.jpg')
							img(src='images/img/be-active.jpg', width="100%" alt='Man with cellphone')
						.advantages-counter 
							span 01
					.advantage-text-wrapper
						h3.advantage-title
							| be active
						p.advantage-description
							| Post videos with your skills, Like and follow others to be more popular.
				.advantage-2
					.advantage-pic
						picture.pic-2
							source(media='(max-width: 640px)', srcset='images/img/find-contact_640.jpg')
							source(media='(min-width: 641px) and (max-width: 960px)', srcset='images/img/find-contact_960.jpg')
							source(media='(min-width: 961px) and (max-width: 1920px), (min-width: 1920px)', srcset='images/img/find-contact_1024.jpg')
							img(src='images/img/find-contact.jpg.jpg', width="100%" alt='Old wise trainer')
						.advantages-counter 
							span 02
					.advantage-text-wrapper
						h3.advantage-title
							| find contact
						p.advantage-description
							| Contact others to find right coach or athlete you are looking for.
				.advantage-3
					.advantage-pic
						picture.pic-3
							source(media='(max-width: 640px)', srcset='images/img/work-it_640.jpg')
							source(media='(min-width: 641px) and (max-width: 960px)', srcset='images/img/work-it_960.jpg')
							source(media='(min-width: 961px) and (max-width: 1920px), (min-width: 1920px)', srcset='images/img/work-it_1024.jpg')
							img(src='images/img/find-contact.jpg.jpg', width="100%" alt='The team')
						.advantages-counter 
							span 03
					.advantage-text-wrapper
						h3.advantage-title
							| work it
						p.advantage-description
							| Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this enjoyable experience.
		footer.footer
			.download-app-wrapper
				a.download-app(href="#")
				.download-app-text-wrapper
					h2.download-app-title
						| download app
					p.download-app-subtitle
						| show everyone what you can do!
			.store-buttons
				a.button-apple-store(href='#')
					.apple-store-logo
					span.button-apple-text
						| download on the
						br
						b appstore
				a.button-google-play(href="#")
					.google-play-logo
					span.button-google-text
						| get it on
						br
						b google play
			.footer-logo